body {
    width: 100%;
    background-color: bisque;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section {width: 80%;}
h3 {text-align: center;}
.myObject {font-weight: bold;}
.task {font-size: 1.5em;}
.theory {font-size: 1.2em;}

